
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main {
  box-shadow: darkgrey 8px 7px 7px 7px;
  border-radius: 24px;
  width: 90vw;
  max-width: 1000px;
  margin: 10px;
  padding: 10px;
}

div#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
}

div.powers {
  margin: 40px 0;

  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.power-box {
  border-radius: 20px;
  border: darkgrey solid 2px;
  margin: 20px;
  padding: 50px;
  max-width: 500px;

}

div.combined {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

div.combined > * {
  width: 50%;
}

div.power-name-active {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  div.power-box {
    box-sizing: border-box;
    width: 90vw;
    padding: 8vh 6vw;
    margin: 0 0 1vh 0;
  }
}


.err {
  border-radius: 42px;
  padding: 20px 40px;
  margin: 20px;
  font: 1.3em;
  background-color: #ffc5c2;
  border: #c60000 solid 2px;
  // box-shadow: #c60000  0px 8px 8px;
}
